html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.viewport {
    display: flex;
    flex-flow: column;
    height: 100%;
}
header {
    background-color: rgb(58, 84, 153);
    color: white;
    padding: 15px;
    padding-left: 70px;
    font-size: 60px;
}
.navBodyContainer {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}
 .navContainer {
    background-color: rgb(221, 221, 221);
    min-width: 200px;
}

.nav {
    padding: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

}
.navButton {
    margin: 10px;
    border-style: none;
    text-align: start;
    background-color: transparent;
    font-size: large;
    border-radius: 5px;
}
.navButton:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}
.addListButton {
    position: relative;
    float: right;
    margin-right: 10px;
    border-style: none;
    border-radius: 6px;
    width: 25px;
    height: 25px;
    font-size: large;
    padding-top: 2px;
}
.addListButton:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}
.addListForm {
    display: none;
}
.divider {
    width: 90%;
    margin-left: 4%;
    border-top: 2px solid rgb(177, 177, 177);
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
}
.taskViewerContainer {
    width: 100%;
} 
.taskViewerNav {
    width: 100%;
    padding: 20px;
}
.taskViewer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.taskFormContainer {
    display: none;
}

footer {
   flex-grow: 1;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(58, 84, 153);
   color: white;
   text-align: center;
   padding: 5px;
}  